@import 'tailwindcss';
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mitr:ital,wght@0,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400&display=swap');

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
    --color-mutegreen: #DAE9DC;
  }

* {
  font-family: 'Nunito', 'Mitr';
  }

:root {
  --font-mitr: 'Mitr', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-nunito);
}

:lang(th) {
  font-family: var(--font-mitr);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}